.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.logo_img{
    width: 100px;
    border: 1px solid black;

}

.nav_items > ul{
    list-style-type: none;
    display: flex;
}

.nav_items > ul > li{
    padding: 10px;
}
